* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(179, 162, 162, 0.3);
  font-family: Arial, Helvetica, sans-serif;
}

.profile_area {
  position: relative;
  height: 100vh;
}
.profile_card {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  padding: 10px;
}
.profile_img img {
  width: 80px;
  height: 80px;
  border-radius: 150px;
  border: 2px solid #ddd;
}
h3.name {
  color: cadetblue;
}
h4.occupasoin {
  color: maroon;
  margin-bottom: 10px;
}
p.description {
  color: #222;
  font-size: 14px;
  margin-bottom: 10px;
}
.social_links a {
  text-decoration: none;
  color: #222;
  line-height: 20px;
}
.social_links {
  font-size: 13px;
  text-align: left;
}
p.description span {
  font-weight: 900;
  color: #ffc000;
}
